################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

google-cloud-sdk/
sql_docker/ny_taxi_postgres_data
*.csv
*.json
*.zip
*.txt